{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.object %}
    <li class="breadcrumb-item">
      <a href="{% url 'core:job_list' %}?object_type={{ object.object_type_id }}">{{ object.object|meta:"verbose_name_plural"|bettertitle }}</a>
    </li>
    {% with parent_jobs_viewname=object.object|viewname:"jobs" %}
      <li class="breadcrumb-item">
        <a href="{% url parent_jobs_viewname pk=object.object.pk %}">{{ object.object }}</a>
      </li>
    {% endwith %}
  {% else %}
    <li class="breadcrumb-item">
      <a href="{% url 'core:job_list' %}?name={{ object.name|urlencode }}">{{ object.name }}</a>
    </li>
  {% endif %}
{% endblock breadcrumbs %}

{% block control-buttons %}
  {% if request.user|can_delete:object %}
    {% delete_button object %}
  {% endif %}
{% endblock control-buttons %}

{% block tabs %}
  <ul class="nav nav-tabs" role="presentation">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'plugins:nb_robot:project_job_result' pk=object.pk %}">{{ object|meta:"verbose_name"|bettertitle }}</a>
    </li>
    <li class="nav-item"></li>
      <a class="nav-link active" href="{% url 'plugins:nb_robot:project_job_result_xml' pk=object.pk %}">XML</a>
    </li>
    <li class="nav-item"></li>
      <a class="nav-link" href="{% url 'plugins:nb_robot:project_job_result_result' pk=object.pk %}">Results</a>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}

  <pre class="block">{{ object.data.xml }}</pre>

{% endblock %}